@import '../../node_modules/antd/dist/antd.css';

body {
    background-color: #efefef;
}

.App {
    padding: 0 42px;
}

.header {
    display: flex;
    padding: 12px 42px;
}

.header-content {
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    width          : calc(100% - 120px);
    align-items    : flex-end;
}

.header-text {
    width        : 100%;
    text-align   : center;
    color        : #1890ff;
    font-weight  : bold;
    font-size    : 24px;
    margin-bottom: 0;
}

.tabs {
    display         : flex;
    overflow-x      : auto;
    width           : 100%;
    background-color: #1890ff;
}

.tab {
    cursor : pointer;
    display: inline-block;
    color  : white;
    padding: 6px 24px;
}

.activeTab {
    background-color: white;
    color           : black;
    font-weight     : bold;
}

.save {
    position: fixed;
    top     : 200px;
    right   : 80px;
    z-index : 100;
} 

.e-keyboard {
    padding-top: 10px;
}

.e-sheet-panel {
    height: calc(100vh - 300px)!important;
}