@import '../node_modules/antd/dist/antd.css';

.App {
    padding: 0 42px;
    padding-top: 42px;
}

.tabs {
    display: flex;
    overflow-x: auto;
    width     : 100%;
    background-color: #1890ff;
}

.tab {
    cursor      : pointer;
    display     : inline-block;
    color: white;
    padding     : 6px 24px;
}

.activeTab {
    background-color: white;
    color: black;
    font-weight: bold;
}

.ant-table {
    box-shadow: 2px 4px 8px rgb(0 0 0 20%);
}

th, td {
    text-align: center !important;
}

.insert {
    position: fixed;
    top: 97px;
    right: 84px;
    z-index: 100;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 188, 188);
}